body {
    --twitter-color: #50b7f5;
    --twitter-background: #e6ecf0;
  }
  
  .app {
    display: flex;
    height: 80.3vh;
    max-width: 1150px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0 10px;
  }

  .toggle{
    margin-top: 5px;
    margin-left: 10px;
    border-radius: 20px;
  }

  .anim{
    pointer-events: none;
    margin-left: 10px;
    width: auto;
    background: transparent;
    border-radius: 20px;
    padding: 5px;
    text-align: center;
  }

  .button{
    margin-left: 20px;
    background: blueviolet;
    width: auto;
    height: auto;
    border-radius: 20px;
  }

  .app-header {
    background-color: lightyellow;
    color: lightseagreen;
    padding: 12px;
    position: sticky;
    font-weight: 0 !important;
    text-transform: inherit !important;
    border-radius: 20px !important;
    height: 20px !important;
    margin-top: 5px !important;
    margin-left: 0px;
  }